<form id="add">
  <div type="button" class="btn btn-success" title="Agregar nueva habilidad"
  routerLink="/nuevahab" *ngIf="isLogged"><i class="bi bi-plus-lg"></i></div><br>
</form>
<h1>Habilidades Duras y Blandas</h1>
<div class="row">

    <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let habilidad of habilidad">
      <circle-progress
        [percent]="(habilidad.porcentaje)"
        [maxPercent]="200"
        [radius]="100"
        [toFixed]="0"
        [backgroundPadding]="5"
        [showBackground]="true"
        [showInnerStroke]="false"
        [clockwise]="true"
        [startFromZero]="false"
        [showUnits]="false"
        [title]="(habilidad.nombre)"
        [showTitle]="true"
        [titleColor]="'#483500'"
        [showZeroOuterStroke]="true"
        [showSubtitle]="false"
        [animation]="true"
        [animateTitle]="true"
        [animationDuration]="300"
        [backgroundOpacity]="1"
        [backgroundColor]="'#FDB900'"
        [backgroundGradientStopColor]="'transparent'"
        [backgroundStroke]="'transparent'"
        [outerStrokeGradient]="false"
        [outerStrokeColor] = "'#FFFFFF'"
        [outerStrokeGradientStopColor] = "'transparent'"
        [innerStrokeColor] = "'#FFFFFF'"
        [titleColor] = "'#444444'"
        [unitsColor]="'#444444'"
        [outerStrokeWidth]="10"
        [space]="4"
        [innerStrokeWidth]="7"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"
        [unitsColor]="'#483500'"
        [lazy]="true"
    ></circle-progress>

    <div class="habilidad" >

      <form *ngIf="isLogged">

        <div type="button" class="btn btn-dark" title="Editar"
        routerLink="/edithab/{{habilidad.id}}"><i class="bi bi-pen"></i></div>
        <div type="button" class="btn btn-danger" title="Borrar"
        (click)="delete(habilidad.id)"><i class="bi bi-trash"></i></div>
      </form>
    </div>
</div>
