<h1>Habilidades Duras y Blandas</h1>
<div class="row">
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="95"
        [radius]="100"
        [toFixed]="0"
        [showBackground]="true"
        [clockwise]="true"
        [showUnits]="false"
        [title]="'HTML'"
        [showZeroOuterStroke]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5083C7'"
        [innerStrokeColor]="'#2453D6'"
        [animation]="true"
        [animationDuration]="300"
        [lazy]="true"
        [backgroundGradient] = "true"
        [backgroundOpacity]="1"
        [backgroundColor]="'#ffffff'"
        [backgroundGradientStopColor]="'#48535E'"
        [backgroundStroke]="'transparent'"
        [outerStrokeGradient]="false"
        [outerStrokeColor] = "'#61A9DC'"
        [outerStrokeGradientStopColor] = "'transparent'"
        [innerStrokeColor] = "'#C7E596'"
        [titleColor] = "'#444444'"
        [unitsColor]="'#444444'"
        [outerStrokeWidth]="10"
        [space]="4"
        [innerStrokeWidth]="0"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="95"
        [radius]="100"
        [toFixed]="0"
        [showBackground]="true"
        [clockwise]="true"
        [showUnits]="false"
        [title]="'CSS'"
        [showZeroOuterStroke]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5083C7'"
        [innerStrokeColor]="'#2453D6'"
        [animation]="true"
        [animationDuration]="300"
        [lazy]="true"
        [backgroundGradient] = "true"
        [backgroundOpacity]="1"
        [backgroundColor]="'#ffffff'"
        [backgroundGradientStopColor]="'#48535E'"
        [backgroundStroke]="'transparent'"
        [outerStrokeGradient]="false"
        [outerStrokeColor] = "'#61A9DC'"
        [outerStrokeGradientStopColor] = "'transparent'"
        [innerStrokeColor] = "'#C7E596'"
        [titleColor] = "'#444444'"
        [unitsColor]="'#444444'"
        [outerStrokeWidth]="10"
        [space]="4"
        [innerStrokeWidth]="0"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="75"
        [radius]="100"
        [toFixed]="0"
        [showBackground]="true"
        [clockwise]="true"
        [showUnits]="false"
        [title]="'JavaScript'"
        [showZeroOuterStroke]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5083C7'"
        [innerStrokeColor]="'#2453D6'"
        [animation]="true"
        [animationDuration]="300"
        [lazy]="true"
        [backgroundGradient] = "true"
        [backgroundOpacity]="1"
        [backgroundColor]="'#ffffff'"
        [backgroundGradientStopColor]="'#48535E'"
        [backgroundStroke]="'transparent'"
        [outerStrokeGradient]="false"
        [outerStrokeColor] = "'#61A9DC'"
        [outerStrokeGradientStopColor] = "'transparent'"
        [innerStrokeColor] = "'#C7E596'"
        [titleColor] = "'#444444'"
        [unitsColor]="'#444444'"
        [outerStrokeWidth]="10"
        [space]="4"
        [innerStrokeWidth]="0"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="90"
        [radius]="100"
        [toFixed]="0"
        [showBackground]="true"
        [clockwise]="true"
        [showUnits]="false"
        [title]="'PHP'"
        [showZeroOuterStroke]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5083C7'"
        [innerStrokeColor]="'#2453D6'"
        [animation]="true"
        [animationDuration]="300"
        [lazy]="true"
        [backgroundGradient] = "true"
        [backgroundOpacity]="1"
        [backgroundColor]="'#ffffff'"
        [backgroundGradientStopColor]="'#48535E'"
        [backgroundStroke]="'transparent'"
        [outerStrokeGradient]="false"
        [outerStrokeColor] = "'#61A9DC'"
        [outerStrokeGradientStopColor] = "'transparent'"
        [innerStrokeColor] = "'#C7E596'"
        [titleColor] = "'#444444'"
        [unitsColor]="'#444444'"
        [outerStrokeWidth]="10"
        [space]="4"
        [innerStrokeWidth]="0"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="95"
        [radius]="100"
        [toFixed]="0"
        [showBackground]="true"
        [clockwise]="true"
        [showUnits]="false"
        [title]="'Java'"
        [showZeroOuterStroke]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5083C7'"
        [innerStrokeColor]="'#2453D6'"
        [animation]="true"
        [animationDuration]="300"
        [lazy]="true"
        [backgroundGradient] = "true"
        [backgroundOpacity]="1"
        [backgroundColor]="'#ffffff'"
        [backgroundGradientStopColor]="'#48535E'"
        [backgroundStroke]="'transparent'"
        [outerStrokeGradient]="false"
        [outerStrokeColor] = "'#61A9DC'"
        [outerStrokeGradientStopColor] = "'transparent'"
        [innerStrokeColor] = "'#C7E596'"
        [titleColor] = "'#444444'"
        [unitsColor]="'#444444'"
        [outerStrokeWidth]="10"
        [space]="4"
        [innerStrokeWidth]="0"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="80"
        [maxPercent]="200"
        [radius]="100"
        [toFixed]="0"
        [backgroundPadding]="5"
        [showBackground]="true"
        [showInnerStroke]="false"
        [clockwise]="true"
        [startFromZero]="false"
        [showUnits]="false"
        [title]="'Java'"
        [showTitle]="true"
        [titleColor]="'#483500'"
        [showZeroOuterStroke]="true"
        [showSubtitle]="false"
        [animation]="true"
        [animateTitle]="true"
        [animationDuration]="300"
        [backgroundOpacity]="1"
        [backgroundColor]="'#FDB900'"
        [backgroundGradientStopColor]="'transparent'"
        [backgroundStroke]="'transparent'"
        [outerStrokeGradient]="false"
        [outerStrokeColor] = "'#FFFFFF'"
        [outerStrokeGradientStopColor] = "'transparent'"
        [innerStrokeColor] = "'#FFFFFF'"
        [titleColor] = "'#444444'"
        [unitsColor]="'#444444'"
        [outerStrokeWidth]="10"
        [space]="4"
        [innerStrokeWidth]="7"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"
        [unitsColor]="'#483500'"
        [lazy]="true"
    ></circle-progress>
    </div>
</div>
