<div class="container">
  <div class="row">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombre">Nombre de la Habilidad</label>
          <input type="text" class="form-control" id="nombre" placeholder="Nombre de la habilidad"
          name="nombre" [(ngModel)]="nombre" required>
        </div>
        <div class="form-group">
          <label for="porcentaje">Porcentaje</label>
          <input type="text" class="form-control" id="porcentaje" placeholder="Sólo números del 1 al 100"
          name="porcentaje" [(ngModel)]="porcentaje" required>
        </div>

        <button class="btn btn-primary" >Agregar Habilidad</button>
      </form>
    </div>

  </div>
</div>
