<form id="add">
  <div type="button" class="btn btn-success" title="Agregar educación"
  routerLink="/nuevaedu" *ngIf="isLogged"><i class="bi bi-plus-lg"></i></div><br>
</form>
<h1>Educación</h1>
<div class="experiencia" *ngFor="let Educacion of educacion" >
  <form *ngIf="isLogged">

    <div type="button" class="btn btn-dark" title="Editar"
    routerLink="/editedu/{{Educacion.id}}"><i class="bi bi-pen"></i></div><br>
    <div type="button" class="btn btn-danger" title="Borrar"
    (click)="borrar(Educacion.id)"><i class="bi bi-trash"></i></div>
  </form>

<div id="container" >

  <img [src]="Educacion.img">
  <div>
    <h3>{{Educacion.nombreE}}</h3>
    <p>{{Educacion.institucionE}}</p>
    <h5>{{Educacion.periodoE}}</h5>
    <h5>{{Educacion.lugarE}}</h5>
  </div>

</div>

<hr color-line="silver">
</div>

