<div class="container">
  <div class="row">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombreE">Título obtenido o a obtener</label>
          <input type="text" class="form-control" id="nombreE" placeholder="Nombre del título"
          name="nombreE" [(ngModel)]="nombreE" required>
        </div>
        <div class="form-group">
          <label for="institucionE">Institución que lo otorga</label>
          <input type="text" class="form-control" id="institucionE" placeholder="Nombre de la Empresa"
          name="institucionE" [(ngModel)]="institucionE" required>
        </div>
        <div class="form-group">
          <label for="periodoE">Período de cursado</label>
          <input type="text" class="form-control" id="periodoE" placeholder="Período de cursado"
          name="periodoE" [(ngModel)]="periodoE" required>
        </div>
        <div class="form-group">
          <label for="lugarE">Ciudad y  Provincia</label>
          <input type="text" class="form-control" id="lugarE" placeholder="Ciudad - Provincia"
          name="lugarE" [(ngModel)]="lugarE" required>
        </div>
        <div class="form-group">
          <label for="img">Imagen</label>
          <input type="file" class="form-control" id="img"
          name="img" [(ngModel)]="educacion.img" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png, .webp, .PNG">
        </div>
        <button class="btn btn-primary" >Agregar Educación</button>
      </form>
    </div>

  </div>
</div>

