#container{
  display:flex;
  margin: 10px;
}

div img{
  width: 500px;
  height: 300px;
  margin: 0 10px 10px 10px;
  border: 2px solid orangered;
  border-radius: 5px;
}


form{
  float: right !important;
}

div form div{
  margin: 5px;
}

h1{
  padding-left: 10px;
  background-color: rgb(68, 61, 65);
  border-radius: 5px;
}

#add{
  float: right;
  margin: 5px;
}
