<img src="/assets/cubo.jpg">
<div ID="perfil">
  <img ID="foto-perfil" src="{{miPorfolio.fotoPerfil}}">
  <button type="button" class="btn btn-dark"><i class="bi bi-pen"></i></button>
</div>

<div ID="bandera" class="d-none d-sm-none d-md-block">
  <img ID="imgbandera" src="{{miPorfolio.bandera}}">
</div>

<div ID="titulos">
  <h3>{{miPorfolio.nombre}}</h3>
    <h5>{{miPorfolio.profesion}}</h5>
    <h6>{{miPorfolio.ubicacion}} <a href="#">Información de Contacto</a></h6>
    <form>
      <button type="button" class="btn btn-primary">Tengo interés en</button>
      <button type="button" class="btn btn-outline-info">Añadir Sección</button>
      <button type="button" class="btn btn-outline-light">Más</button>
    </form>
</div>

