  <form id="add">
    <div type="button" class="btn btn-success" title="Agregar nueva experiencia"
    routerLink="/nuevaexp" *ngIf="isLogged"><i class="bi bi-plus-lg"></i></div><br>
  </form>
  <h1>Experiencia Laboral</h1>
  <div class="experiencia" *ngFor="let Experiencia of expe" >
    <form *ngIf="isLogged">

      <div type="button" class="btn btn-dark" title="Editar"
      routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pen"></i></div><br>
      <div type="button" class="btn btn-danger" title="Borrar"
      (click)="delete(Experiencia.id)"><i class="bi bi-trash"></i></div>
    </form>

  <div id="container" >

    <img [src]="Experiencia.img">
    <div>
      <h3>{{Experiencia.nombreE}}</h3>
      <p>{{Experiencia.empresaE}}</p>
      <h5>{{Experiencia.periodoE}}</h5>
      <h5>{{Experiencia.lugarE}}</h5>
    </div>

  </div>

<hr color-line="silver">
</div>

